.profile-container {
    font-style: italic;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    display: flex;
    flex-grow: 1;
}

.profile-column {
    flex: 1;
    padding: 20px;
}

.profile-column {
    background-color: #f8f9fa; /* Imposta un colore di sfondo leggero */
    border-radius: 10px; /* Aggiunge bordi arrotondati */
    padding: 20px; /* Aggiunge spazio intorno al contenuto */
    margin: 10px; /* Aggiunge spazio intorno alla colonna */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Aggiunge un leggero ombreggiamento */
    color: #333; /* Imposta un colore del testo scuro */
}

.utenti{
    padding-top: 20px;
}

#infoSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#infoSection img {
    margin-right: 20px;
}

.order-box {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.order-header {
    display: flex;
    justify-content: space-between;
    color: #666;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.order-item {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

h1{
    color: #50b3a2;
}

.order-footer {
    display: flex;
    justify-content: flex-end;
}

.orderHistoryButton, .download-invoice {
    background-color: #50b3a2;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.order-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 15px;
}

.order-item-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-container {
    display: flex;
    flex-direction: column;
}

.menu-row {
    justify-content: space-around;
    margin-bottom: 20px;
}

.menu-row button {
    margin-top: 15px;
    /*width: 20%; !* Imposta la larghezza al 100% del contenitore *!*/
    padding: 10px; /* Aggiunge spazio intorno al testo */
    margin-bottom: 10px; /* Aggiunge spazio tra i pulsanti */
    color: #fff; /* Imposta il colore del testo */
    border: none; /* Rimuove il bordo */
    border-radius: 5px; /* Aggiunge bordi arrotondati */
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
    transition: background-color 0.3s ease; /* Aggiunge un effetto di transizione al cambio di colore */
    background-color: #50b3a2;
}

.menu-row button:hover, .refillButton:hover,
    .changeAdminButton:hover, .download-invoice:hover, .orderHistoryButton:hover{
    background-color: #0056b3; /* Cambia il colore di sfondo al passaggio del mouse */
}

.profile-content {
    flex-grow: 1;
}

/* Modifiche nuove */

.utenti{
    align-content: center;
}
.utente-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.utenti table {
    width: 100%;
    border-collapse: collapse;
}

.utenti th, .utenti td {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.utenti th {
    background-color: #f8f9fa;
    color: #333;
}

.utenti img {
    width: 50px; /* Imposta la larghezza dell'immagine */
    height: 50px; /* Imposta l'altezza dell'immagine */
    object-fit: cover; /* Mantiene le proporzioni dell'immagine */
    border-radius: 50%; /* Rende l'immagine rotonda */
    align-items: center;
}

.utenti th, .utenti td {
    padding: 10px;
    text-align: center; /* Centra il testo nelle celle */
    font-size: 20px; /* Imposta la dimensione del testo */
    font-style: italic;
}

.utenti img {
    width: 100px; /* Aumenta la larghezza dell'immagine */
    height: 100px; /* Aumenta l'altezza dell'immagine */
    object-fit: cover; /* Mantiene le proporzioni dell'immagine */
    border-radius: 50%; /* Rende l'immagine rotonda */
}

.utente-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.changeAdminButton{
    background-color: #50b3a2;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

form{
    margin: 0;
}

.dispSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item-box {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    justify-content: space-between; /* Aggiunto */
}

.item-box img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 5px;
}

.item-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.refillButton {
    background-color: #50b3a2;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
}

.lowStock {
    background-color: red;
}

.item-box {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    justify-content: space-between; /* Aggiunto */
}

.item-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1; /* Aggiunto */
}

.refillButton {
    margin-left: auto; /* Aggiunto */
}

.refillForm {
    background-color: #f8f9fa; /* Imposta un colore di sfondo leggero */
    border-radius: 10px; /* Aggiunge bordi arrotondati */
    padding: 10px; /* Aggiunge spazio intorno al contenuto */
    margin: 10px; /* Aggiunge spazio intorno al form */
    color: #333; /* Imposta un colore del testo scuro */
    display: flex; /* Imposta il layout del form a flex */
    justify-content: space-between; /* Distribuisce gli elementi figli lungo l'asse orizzontale */
}

.refillForm input[type="number"] {
    flex-grow: 1; /* Permette all'input di espandersi per occupare lo spazio disponibile */
    margin-right: 10px; /* Aggiunge un margine a destra dell'input */
}

.refillForm input[type="submit"] {
    background-color: #50b3a2; /* Imposta un colore di sfondo */
    color: white; /* Imposta un colore del testo */
    border: none; /* Rimuove il bordo */
    padding: 10px; /* Aggiunge spazio intorno al testo */
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
    border-radius: 5px; /* Aggiunge bordi arrotondati */
}

.refillFormButton:hover{
    background-color: #0056b3; /* Cambia il colore di sfondo al passaggio del mouse */
}

.menu-row {
    position: relative; /* Aggiunto */
    justify-content: space-around;
    margin-bottom: 20px;
}

#logoutButton {
    position: absolute; /* Aggiunto */
    right: 0; /* Aggiunto */
    top: 50%; /* Aggiunto */
    transform: translateY(-50%); /* Aggiunto */
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

#logoutButton:hover {
    background-color: darkred; /* Cambia il colore di sfondo al passaggio del mouse */
}

/*@media (max-width: 900px) {*/
/*    .utenti table {*/
/*        overflow-x: auto;*/
/*        display: block;*/
/*    }*/
/*}*/

@media screen and (max-width: 600px) {
    .utenti table, .utenti thead, .utenti tbody, .utenti th, .utenti td, .utenti tr {
        display: block;
    }

    .utenti thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .utenti tr {
        border: 1px solid #ccc;
        margin-bottom: 20px;
    }

    .utenti td {
        border: none;
        border-bottom: 1px solid #eee;
    }

    #infoSection img {
        margin-right: 0;
    }
}

.allOrderHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.allOrderHeader h1 {
    color: #50b3a2;
}

.allOrderButton {
    background-color: #50b3a2;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.allOrderButton:hover {
    background-color: #0056b3;
}

input[type="date"] {
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #f8f9fa;
    color: #333;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

input[type="date"]:focus {
    outline: none;
    background-color: #e8e8e8;

}

@media screen and (max-width: 900px) {
    .allOrderHeader {
        flex-direction: column;
        align-items: flex-start;
    }
}