body {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    color: #333;
}

main {
    flex: 1;
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    color: #ff6600;
    text-transform: uppercase;
    border-bottom: 2px solid #ff6600;
    padding-bottom: 10px;
}

.descrizione {
    background: #fff;
    padding: 40px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 800px;
}

.descrizione h1 {
    color: #50b3a2;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.descrizione p {
    font-size: 1.2em;
    line-height: 1.6;
    margin: 10px 0;
}

.scroll-button {
    background-color: #ff6600; /* Cambia il colore di sfondo */
    color: #fff; /* Cambia il colore del testo */
    border: none; /* Rimuove il bordo */
    border-radius: 50%; /* Rende i bordi rotondi */
    padding: 10px; /* Aggiunge spazio intorno al testo */
    font-size: 18px; /* Aumenta la dimensione del testo */
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
    transition: background-color 0.3s; /* Aggiunge un'animazione al cambio di colore di sfondo */
}

.scroll-button:hover {
    background-color: #ffa034; /* Cambia il colore di sfondo al passaggio del mouse */
}