.profile-container {
    font-style: italic;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    display: flex;
    flex-grow: 1;
}

.profile-column {
    flex: 1;
    padding: 20px;
}

.profile-column {
    background-color: #f8f9fa; /* Imposta un colore di sfondo leggero */
    border-radius: 10px; /* Aggiunge bordi arrotondati */
    padding: 20px; /* Aggiunge spazio intorno al contenuto */
    margin: 10px; /* Aggiunge spazio intorno alla colonna */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Aggiunge un leggero ombreggiamento */
    color: #333; /* Imposta un colore del testo scuro */
}

.pets{
    margin-top: 5%;
    border-top: 1px solid #ccc;
}

.pet{
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centra verticalmente il contenuto */
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.pet img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

#infoSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#infoSection img {
    margin-right: 20px;
}

.order-box {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.order-header {
    display: flex;
    justify-content: space-between;
    color: #666;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.order-item {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

h1{
    color: #50b3a2;
}

.order-footer {
    display: flex;
    justify-content: flex-end;
}

.download-invoice {
    background-color: #50b3a2;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.order-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 15px;
}

.order-item-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-container {
    display: flex;
    flex-direction: column;
}

.menu-row {
    justify-content: space-around;
    margin-bottom: 20px;
}

.menu-row button {
    margin-top: 15px;
    width: 20%; /* Imposta la larghezza al 100% del contenitore */
    padding: 10px; /* Aggiunge spazio intorno al testo */
    margin-bottom: 10px; /* Aggiunge spazio tra i pulsanti */
    background-color: #007BFF; /* Imposta il colore di sfondo */
    color: #fff; /* Imposta il colore del testo */
    border: none; /* Rimuove il bordo */
    border-radius: 5px; /* Aggiunge bordi arrotondati */
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
    transition: background-color 0.3s ease; /* Aggiunge un effetto di transizione al cambio di colore */
}

.menu-row button:hover {
    background-color: #0056b3; /* Cambia il colore di sfondo al passaggio del mouse */
}

.profile-content {
    flex-grow: 1;
}