.profile-container {
    font-style: italic;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    display: flex;
    flex-grow: 1;
}

.profile-column {
    flex: 1;
    padding: 20px;
}

.profile-column {
    background-color: #f8f9fa; /* Imposta un colore di sfondo leggero */
    border-radius: 10px; /* Aggiunge bordi arrotondati */
    padding: 20px; /* Aggiunge spazio intorno al contenuto */
    margin: 10px; /* Aggiunge spazio intorno alla colonna */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Aggiunge un leggero ombreggiamento */
    color: #333; /* Imposta un colore del testo scuro */
}

.pets{
    margin-top: 1%;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

#infoSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#infoSection img {
    margin-right: 20px;
}

.order-box {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.order-header {
    display: flex;
    justify-content: space-between;
    color: #666;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.order-item {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

h1{
    color: #50b3a2;
}

.order-footer {
    display: flex;
    justify-content: flex-end;
}

.download-invoice {
    background-color: #50b3a2;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.order-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 15px;
}

.order-item-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile-container {
    display: flex;
    flex-direction: column;
}

.menu-row {
    justify-content: space-around;
    margin-bottom: 20px;
}

.menu-row button {
    margin-top: 15px;
    padding: 10px; /* Aggiunge spazio intorno al testo */
    margin-bottom: 10px; /* Aggiunge spazio tra i pulsanti */
    color: #fff; /* Imposta il colore del testo */
    border: none; /* Rimuove il bordo */
    border-radius: 5px; /* Aggiunge bordi arrotondati */
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
    transition: background-color 0.3s ease; /* Aggiunge un effetto di transizione al cambio di colore */
    background-color: #50b3a2;
}

.menu-row button:hover, #addPetButton:hover, .download-invoice:hover {
    background-color: #0056b3; /* Cambia il colore di sfondo al passaggio del mouse */
}

.profile-content {
    flex-grow: 1;
}

/* Modifiche nuove */

.pets{
    align-content: center;
}
.pet-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.pets table {
    width: 100%;
    border-collapse: collapse;
}

.pets th, .pets td {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.pets th {
    background-color: #f8f9fa;
    color: #333;
}

.pets img {
    width: 50px; /* Imposta la larghezza dell'immagine */
    height: 50px; /* Imposta l'altezza dell'immagine */
    object-fit: cover; /* Mantiene le proporzioni dell'immagine */
    border-radius: 50%; /* Rende l'immagine rotonda */
    align-items: center;
}

.pets th, .pets td {
    padding: 10px;
    text-align: center; /* Centra il testo nelle celle */
    font-size: 20px; /* Imposta la dimensione del testo */
    font-style: italic;
}

.pets img {
    width: 100px; /* Aumenta la larghezza dell'immagine */
    height: 100px; /* Aumenta l'altezza dell'immagine */
    object-fit: cover; /* Mantiene le proporzioni dell'immagine */
    border-radius: 50%; /* Rende l'immagine rotonda */
}

.pet-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.addPetButton{
    background-color: #50b3a2;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.menu-row {
    position: relative; /* Aggiunto */
    justify-content: space-around;
    margin-bottom: 20px;
}

#logoutButton {
    position: absolute; /* Aggiunto */
    right: 0; /* Aggiunto */
    top: 50%; /* Aggiunto */
    transform: translateY(-50%); /* Aggiunto */
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

#logoutButton:hover {
    background-color: darkred; /* Cambia il colore di sfondo al passaggio del mouse */
}

@media (max-width: 900px) {
    .pets table, .pets thead, .pets tbody, .pets th, .pets td, .pets tr {
        display: block;
    }

    .pets thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .pets tr {
        border: 1px solid #ccc;
        margin-bottom: 20px;
    }

    .pets td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    .pets td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        content: attr(data-column);
        font-weight: bold;
    }

    #infoSection img {
        margin-right: 0;
    }
}

.empty-order {
    margin-top: 20px;
    text-align: center;
    padding: 20px;
}

.empty-order i {
    font-size: 50px;
    color: #ccc;
}

.empty-order p {
    font-size: 20px;
    color: #666;
}

.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em; /* Aumenta la dimensione del font */
    color: #333; /* Cambia il colore del testo */
}

.edit-button {
    padding: 5px 10px;
    background-color: #50b3a2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-button:hover {
    background-color: #0056b3;
}

.infoUser {
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
}

.infoUser h1 {
    color: #50b3a2;
    text-align: center;
    margin-bottom: 20px;
}

.edit-input {
    padding: 5px; /* Aggiunge spazio intorno al testo */
    margin-right: 10px; /* Aggiunge spazio a destra dell'input */
    border: 1px solid #ccc; /* Aggiunge un bordo */
    border-radius: 5px; /* Aggiunge bordi arrotondati */
}

.edit-submit {
    padding: 5px 10px; /* Aggiunge spazio intorno al testo */
    background-color: #50b3a2; /* Imposta un colore di sfondo */
    color: #fff; /* Imposta un colore del testo */
    border: none; /* Rimuove il bordo */
    border-radius: 5px; /* Aggiunge bordi arrotondati */
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
    transition: background-color 0.3s ease; /* Aggiunge un effetto di transizione al cambio di colore */
}

.edit-submit:hover {
    background-color: #0056b3; /* Cambia il colore di sfondo al passaggio del mouse */
}

.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em; /* Riduci la dimensione del font */
    color: #333;
}

@media (max-width: 900px) {
    .user-info {
        flex-direction: column;
    }

    .edit-button {
        margin-bottom: 10px;
    }

    .edit-input {
        margin-bottom: 10px;
    }
}