/* Contenitore per i pulsanti di scorrimento */
.scroll-container {
    position: relative;
    display: flex;
    align-items: center;
}

/* Stili per i pulsanti di scorrimento */
.scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.scroll-button.left {
    left: 0;
}

.scroll-button.right {
    right: 0;
}

.scroll-button {
    background-color: #50b3a2; /* Cambia il colore di sfondo */
    color: #fff; /* Cambia il colore del testo */
    border: none; /* Rimuove il bordo */
    border-radius: 50%; /* Rende i bordi rotondi */
    padding: 10px; /* Aggiunge spazio intorno al testo */
    font-size: 18px; /* Aumenta la dimensione del testo */
    cursor: pointer; /* Cambia il cursore al passaggio del mouse */
    transition: background-color 0.3s; /* Aggiunge un'animazione al cambio di colore di sfondo */
}

.scroll-button:hover {
    background-color: #0056b3; /* Cambia il colore di sfondo al passaggio del mouse */
}