.search-form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.search-button {
    position: absolute;
    right: 10px;
    top: 50%;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
}

.resultBox {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none; /* Rimuovi il bordo superiore per collegarlo visivamente alla barra di ricerca */
    border-radius: 0 0 5px 5px;
    z-index: 1000;
}

.resultBox a {
    color: black;
}

.resultBox a:link {
    text-decoration: none;
}

.resultBox a:visited {
    text-decoration: none;
}

.resultBox a:hover {
    text-decoration: none;
}

.resultBox a:active {
    text-decoration: none;
}

.resultBox li {
    margin-right: 0px;
    padding-right: 0px;
    margin-left: 0px;
    cursor: pointer;
    list-style: none;
    border-radius: 5px;
}

.resultBox li:hover {
    background-color: #f0f0f0;
}

.search-input {
    border: 0;
    border-radius: 5px 5px 0 0;
}

.search-input .resultBox {
    border-radius: 5px 5px 0 0;
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
}

.searchInput.active .resultBox {
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}

.resultBox li {
    list-style: none;
    padding: 8px 12px;
    display: block;
    width: 100%;
    cursor: default;
    border-radius: 3px;
}

.resultBox li:hover {
    background: #efefef;
}
