<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <!-- Definisci una pagina di errore generica per gli errori 404
    <error-page>
        <error-code>404</error-code>
        <location>/errorHandler</location>
    </error-page> -->

    <!-- Definisci una pagina di errore generica per tutte le eccezioni
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/errorHandler</location>
    </error-page>-->


    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>

    <error-page>
        <error-code>401</error-code>
        <location>/error.jsp</location>
    </error-page>

    <!-- TODO: decommenta (tenuto per debug)
    <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>
    -->

    <error-page>
        <exception-type>com.tswproject.tswproj.EmptyPoolException</exception-type>
        <location>/error.jsp</location>
    </error-page>

    <error-page>
        <exception-type>com.tswproject.tswproj.RuntimeSQLException</exception-type>
        <location>/error.jsp</location>
    </error-page>

    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>